// COLORS
$color-primary: #1F3ACA;
$white-color: #fff;
$black-color: #000;
$border-color: #c4c4c4;
$button-bg: #f8f8f8;
$hover-color: #F2F2F2;
$active-color: #E5E5E5;
$text-color: rgba(0, 0, 0, 8);

// FONTS
$font-stack: "Arial", sans-serif;
